In [1]:
import pandas as pd

In [4]:
df_15  = pd.read_csv(r"C:\Users\user\Desktop\1MASAI\NYC Yellow Taxi Trip Data\archive\yellow_tripdata_2015-01.csv")
df_15.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [29]:
df_15["tpep_pickup_datetime"]

0          2015-01-15 19:05:39
1          2015-01-10 20:33:38
2          2015-01-10 20:33:38
3          2015-01-10 20:33:39
4          2015-01-10 20:33:39
                   ...
12748981   2015-01-10 19:01:44
12748982   2015-01-10 19:01:44
12748983   2015-01-10 19:01:44
12748984   2015-01-10 19:01:44
12748985   2015-01-10 19:01:45
Name: tpep_pickup_datetime, Length: 12748986, dtype: datetime64[ns]

In [17]:
df_15['tpep_pickup_datetime'] = pd.to_datetime(df_15['tpep_pickup_datetime'])

In [18]:
df_15['Month'] = df_15['tpep_pickup_datetime'].dt.month

In [28]:
print(df_15.groupby('Month').size())

Month
1    12748986
dtype: int64

In [25]:
sampled_data = df_15.groupby('Month', group_keys=False).apply(
    lambda x: x.sample(n=5000, random_state=42) if len(x) >= 5000 else x).reset_index(drop=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14672\169093203.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = df_15.groupby('Month', group_keys=False).apply(

In [26]:
sampled_data = sampled_data.loc[:, sampled_data.columns != 'Month']

In [27]:
print(sampled_data)

      VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0            1  2015-01-31 04:32:54   2015-01-31 04:36:41                1
1            2  2015-01-29 07:26:35   2015-01-29 07:52:45                2
2            1  2015-01-25 10:48:44   2015-01-25 10:52:47                1
3            2  2015-01-01 17:16:07   2015-01-01 17:27:12                1
4            1  2015-01-05 22:08:12   2015-01-05 22:14:34                1
...        ...                  ...                   ...              ...
4995         2  2015-01-15 19:49:35   2015-01-15 19:56:49                1
4996         2  2015-01-28 12:29:55   2015-01-28 12:45:54                5
4997         2  2015-01-28 12:09:58   2015-01-28 12:11:38                2
4998         1  2015-01-15 12:22:44   2015-01-15 12:25:53                1
4999         1  2015-01-20 19:14:32   2015-01-20 19:17:27                1

      trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0              1.30        -74.001579        40.736187           1
1              3.86        -73.967941        40.802380           1
2              1.10        -73.990021        40.746696           1
3              0.95        -73.987930        40.759708           1
4              1.30        -73.988091        40.764626           1
...             ...               ...              ...         ...
4995           0.72        -73.980637        40.750793           1
4996           2.03        -73.969421        40.749149           1
4997           0.35        -73.965439        40.766815           1
4998           0.60        -73.985413        40.758286           1
4999           0.30        -73.990250        40.729202           1

     store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                     N         -74.008591         40.719151             2
1                     N         -73.972244         40.761734             1
2                     N         -73.978386         40.758587             1
3                     N         -73.977608         40.753555             2
4                     N         -73.993050         40.748699             2
...                 ...                ...               ...           ...
4995                  N         -73.991142         40.750423             2
4996                  N         -73.989708         40.735298             2
4997                  N         -73.964554         40.770531             1
4998                  N         -73.991325         40.750496             1
4999                  N         -73.993790         40.732059             2

      fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             6.0    0.5      0.5        0.00           0.0
1            19.0    0.0      0.5        3.96           0.0
2             5.5    0.0      0.5        0.06           0.0
3             8.5    0.0      0.5        0.00           0.0
4             7.0    0.5      0.5        0.00           0.0
...           ...    ...      ...         ...           ...
4995          6.0    1.0      0.5        0.00           0.0
4996         11.5    0.0      0.5        0.00           0.0
4997          3.5    0.0      0.5        1.08           0.0
4998          4.0    0.0      0.5        1.20           0.0
4999          4.0    1.0      0.5        0.00           0.0

      improvement_surcharge  total_amount
0                       0.3          7.30
1                       0.3         23.76
2                       0.3          6.36
3                       0.3          9.30
4                       0.3          8.30
...                     ...           ...
4995                    0.3          7.80
4996                    0.3         12.30
4997                    0.3          5.38
4998                    0.3          6.00
4999                    0.3          5.80

[5000 rows x 19 columns]

In [30]:
sampled_data.to_csv("2015_stratified_sample.csv", index=False)

In [31]:
print(f"Sampled rows: {len(sampled_data)}")

Sampled rows: 5000

In [33]:
df = pd.read_csv("2015_stratified_sample.csv")
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-31 04:32:54,2015-01-31 04:36:41,1,1.30,-74.001579,40.736187,1,N,-74.008591,40.719151,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
1,2,2015-01-29 07:26:35,2015-01-29 07:52:45,2,3.86,-73.967941,40.802380,1,N,-73.972244,40.761734,1,19.0,0.0,0.5,3.96,0.0,0.3,23.76
2,1,2015-01-25 10:48:44,2015-01-25 10:52:47,1,1.10,-73.990021,40.746696,1,N,-73.978386,40.758587,1,5.5,0.0,0.5,0.06,0.0,0.3,6.36
3,2,2015-01-01 17:16:07,2015-01-01 17:27:12,1,0.95,-73.987930,40.759708,1,N,-73.977608,40.753555,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30
4,1,2015-01-05 22:08:12,2015-01-05 22:14:34,1,1.30,-73.988091,40.764626,1,N,-73.993050,40.748699,2,7.0,0.5,0.5,0.00,0.0,0.3,8.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2,2015-01-15 19:49:35,2015-01-15 19:56:49,1,0.72,-73.980637,40.750793,1,N,-73.991142,40.750423,2,6.0,1.0,0.5,0.00,0.0,0.3,7.80
4996,2,2015-01-28 12:29:55,2015-01-28 12:45:54,5,2.03,-73.969421,40.749149,1,N,-73.989708,40.735298,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30
4997,2,2015-01-28 12:09:58,2015-01-28 12:11:38,2,0.35,-73.965439,40.766815,1,N,-73.964554,40.770531,1,3.5,0.0,0.5,1.08,0.0,0.3,5.38
4998,1,2015-01-15 12:22:44,2015-01-15 12:25:53,1,0.60,-73.985413,40.758286,1,N,-73.991325,40.750496,1,4.0,0.0,0.5,1.20,0.0,0.3,6.00
4999,1,2015-01-20 19:14:32,2015-01-20 19:17:27,1,0.30,-73.990250,40.729202,1,N,-73.993790,40.732059,2,4.0,1.0,0.5,0.00,0.0,0.3,5.80

In [34]:
df_16_1 = pd.read_csv(r"C:\Users\user\Desktop\1MASAI\NYC Yellow Taxi Trip Data\archive\yellow_tripdata_2016-01.csv")

In [35]:
df_16_2 = pd.read_csv(r"C:\Users\user\Desktop\1MASAI\NYC Yellow Taxi Trip Data\archive\yellow_tripdata_2016-02.csv")

In [36]:
df_16_3 = pd.read_csv(r"C:\Users\user\Desktop\1MASAI\NYC Yellow Taxi Trip Data\archive\yellow_tripdata_2016-03.csv")

In [37]:
df_16_1['tpep_pickup_datetime'] = pd.to_datetime(df_16_1['tpep_pickup_datetime'])
df_16_2['tpep_pickup_datetime'] = pd.to_datetime(df_16_2['tpep_pickup_datetime'])
df_16_3['tpep_pickup_datetime'] = pd.to_datetime(df_16_3['tpep_pickup_datetime'])

In [38]:
df_16_1['Month'] = df_16_1['tpep_pickup_datetime'].dt.month
df_16_2['Month'] = df_16_2['tpep_pickup_datetime'].dt.month
df_16_3['Month'] = df_16_3['tpep_pickup_datetime'].dt.month

In [39]:
print(df_16_3.groupby('Month').size())

Month
3    12210952
dtype: int64

In [40]:
print(df_16_2.groupby('Month').size())

Month
2    11382049
dtype: int64

In [41]:
print(df_16_1.groupby('Month').size())

Month
1    10906858
dtype: int64

In [42]:
sampled_data_2 = df_16_1.groupby('Month', group_keys=False).apply(
    lambda x: x.sample(n=5000, random_state=42) if len(x) >= 5000 else x).reset_index(drop=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14672\3859869526.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data_2 = df_16_1.groupby('Month', group_keys=False).apply(

In [43]:
sampled_data_3 = df_16_2.groupby('Month', group_keys=False).apply(
    lambda x: x.sample(n=5000, random_state=42) if len(x) >= 5000 else x).reset_index(drop=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14672\3854900792.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data_3 = df_16_2.groupby('Month', group_keys=False).apply(

In [44]:
sampled_data_4 = df_16_3.groupby('Month', group_keys=False).apply(
    lambda x: x.sample(n=5000, random_state=42) if len(x) >= 5000 else x).reset_index(drop=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14672\2064996805.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data_4 = df_16_3.groupby('Month', group_keys=False).apply(

In [45]:
sampled_data_2 = sampled_data_2.loc[:, sampled_data_2.columns != 'Month']
sampled_data_3 = sampled_data_3.loc[:, sampled_data_3.columns != 'Month']
sampled_data_4 = sampled_data_4.loc[:, sampled_data_4.columns != 'Month']

In [46]:
sampled_data_2.to_csv("2016_1_stratified_sample.csv", index=False)
sampled_data_3.to_csv("2016_2_stratified_sample.csv", index=False)
sampled_data_4.to_csv("2016_3_stratified_sample.csv", index=False)